<mat-nav-list>

  <h2 mat-subheader>CathLab Quotation</h2>

  <!-- <a mat-list-item routerLinkActive="active" (click)="onNavItemSelected('/registry/acsd/acsd290')" id="acsd290"> -->
  <a mat-list-item routerLink="/cath-lab-quotation/quotations" routerLinkActive="active" (click)="onNavItemSelected()">
    <mat-icon>list</mat-icon>
    <span class="nav-caption">Quotation</span>
  </a>

  <a mat-list-item routerLink="/cath-lab-quotation/products" routerLinkActive="active" (click)="onNavItemSelected()">
    <mat-icon>list</mat-icon>
    <span class="nav-caption">Products</span>
  </a>

  <mat-divider></mat-divider>

  <a mat-list-item routerLink="#" routerLinkActive="active" (click)="onNavItemSelected()">
    <mat-icon>info_outline</mat-icon>
    <span class="nav-caption">About</span>
  </a>

</mat-nav-list>
