@import '../../../../styles/registry.scss';

@keyframes glowing {
  0% {
    // background-color: #2ba805;
    box-shadow: 0 0 3px #2ba805;
  }
  50% {
    // background-color: #49e819;
    box-shadow: 0 0 10px #49e819;
  }
  100% {
    // background-color: #2ba805;
    box-shadow: 0 0 3px #2ba805;
  }
}

.value-changed {
  animation: glowing 1300ms;
}
