<div class="registry-container" fxLayout="row" fxLayoutGap="20px">
  <mat-drawer-container class="sidebar-container">
    <mat-drawer [mode]="sidebarMode" position="end" [(opened)]="sidebarOpened" (closed)="closeSidebar()">
      <div class="sidebar-content">
        <div class="table-of-contents" [style.max-height.px]="tocMaxHeight">
          <ul *ngIf="sidebarOpened">
            <li id="titleTOC" (click)="tocClicked('title')" [class.active]="isActive('title')" class="toc-title">
              <span>TEST FORM 2</span></li>
            <li><a class="toc-name" id="sectionATOC" (click)="tocClicked('sectionA')"
                [class.active]="isActive('sectionA')">A.
                Administrative</a>
            </li>
            <li><a class="toc-name" id="sectionBTOC" (click)="tocClicked('sectionB')"
                [class.active]="isActive('sectionB')">B.
                Demographics</a>
            </li>
            <li><a class="toc-name" id="sectionCTOC" (click)="tocClicked('sectionC')"
                [class.active]="isActive('sectionC')">C.
                Preoperative</a>
            </li>
          </ul>
        </div>

        <div>
          <div class="completion-content" *ngIf="completionContent">
            <div class="progress-wrapper">
              <round-progress current="10" max="50" [color]="'#A133FF'" [background]="'#eaeaea'" [radius]="125"
                [stroke]="15" [rounded]="false" [responsive]="true">
              </round-progress>
              <div class="summary">
                <div class="current">{{ '10/100' }}</div>
                <div class="completion">{{ '(10%)' }}</div>
              </div>

            </div>
          </div>

          <div class="completion-mini-content" *ngIf="!completionContent">
            <div class="mini-summary">{{ '10/100 (10%)' }}</div>
          </div>
          <div style="height: 32px;"></div>
        </div>
      </div>
    </mat-drawer>

    <mat-drawer-content id="test">
      <div class="speed-dial-container">
        <fab-speed-dial open="" [direction]="device === 'HandsetLandscape' ? 'left' : 'up'" animationMode="fling">
          <fab-speed-dial-trigger spin="true">
            <button mat-fab>
              <mat-icon class="fab-spin90">more_horiz</mat-icon>
            </button>
          </fab-speed-dial-trigger>

          <fab-speed-dial-actions>
            <button mat-mini-fab matTooltip="Save"
              [matTooltipPosition]="device === 'HandsetLandscape' ? 'above' : 'before'" color="secondary"
              (click)="true">
              <mat-icon>save</mat-icon>
            </button>
            <button mat-mini-fab matTooltip="Save and Exit"
              [matTooltipPosition]="device === 'HandsetLandscape' ? 'above' : 'before'" color="secondary"
              (click)="true">
              <mat-icon>exit_to_app</mat-icon>
            </button>
            <button mat-mini-fab matTooltip="Check validation"
              [matTooltipPosition]="device === 'HandsetLandscape' ? 'above' : 'before'" color="secondary"
              (click)="true">
              <mat-icon>error_outline</mat-icon>
            </button>
            <button mat-mini-fab matTooltip="Clear validation"
              [matTooltipPosition]="device === 'HandsetLandscape' ? 'above' : 'before'" color="secondary"
              (click)="true">
              <mat-icon>highlight_off</mat-icon>
            </button>
            <button mat-mini-fab matTooltip="Print as PDF"
              [matTooltipPosition]="device === 'HandsetLandscape' ? 'above' : 'before'" color="secondary"
              (click)="true">
              <mat-icon>print</mat-icon>
            </button>
          </fab-speed-dial-actions>
        </fab-speed-dial>

        <div fxFlex="250px" *ngIf="sidebarOpened && sidebarMode === 'side'"></div>

      </div>

      <div>
        <h1 class="registry-name" scrollSpyElement id="title">TEST FORM 2</h1>
        <section class="section-wrapper" scrollSpyElement id="sectionA">
          <div class="section-title">
            A. Administrative
          </div>
          <div class="section-body">
            <form [formGroup]="formGroupA" #formDirectiveA="ngForm">
              <div fxLayout="row wrap">
                <reg-input controlName="HN" placeholder="HN" [formGroup]="formGroupA" type="text" fxFlex="1 0 100px"
                  [controlService]="controlService">
                  Testing</reg-input>
                <reg-input controlName="AN" placeholder="AN" [formGroup]="formGroupA" type="text" fxFlex="1 0 200px"
                  [controlService]="controlService">
                  Testing</reg-input>
                <reg-input controlName="LastName" placeholder="LastName" [formGroup]="formGroupA" type="text"
                  fxFlex="1 0 200px" [controlService]="controlService">
                  Testing</reg-input>
                <reg-input controlName="FirstName" placeholder="FirstName" [formGroup]="formGroupA" type="text"
                  fxFlex="2 0 100px" [controlService]="controlService">
                  Testing</reg-input>
                <reg-select controlName="Sex" placeholder="Sex" [formGroup]="formGroupA" [choices]="animals"
                  [group]="true" sortChoice="desc" sortGroup="asc" fxFlex="1 0 200px" [controlService]="controlService">
                </reg-select>
                <reg-datepicker *ngIf="visibility['DOB']" controlName="DOB" placeholder="Birth Date"
                  [formGroup]="formGroupA" fxFlex="1 0 200px" [controlService]="controlService">
                  dd/mm/yyyy
                </reg-datepicker>
                <reg-select-search *ngIf="visibility['Animal']" controlName="Animal" placeholder="Animal"
                  [formGroup]="formGroupA" [choices]="animals" [group]="true" sortChoice="desc" sortGroup="asc"
                  fxFlex="1 0 200px" [controlService]="controlService">
                </reg-select-search>
                <reg-datepicker *ngIf="visibility['Visit']" controlName="Visit" placeholder="Visit Date"
                  [formGroup]="formGroupA" fxFlex="1 0 200px" type="datetime" [controlService]="controlService">
                  dd/mm/yyyy
                </reg-datepicker>
                <reg-select-multiple controlName="Gender" placeholder="Gender" [formGroup]="formGroupA"
                  [choices]="['Male', 'Female']" fxFlex="1 0 200px" [controlService]="controlService">
                </reg-select-multiple>
              </div>
            </form>
          </div>
        </section>

        FormGroupA: {{ formGroupA.value | json }}

        <section class="section-wrapper" scrollSpyElement id="sectionB">
          <div class="section-title">
            B. Demographics
          </div>
          <div class="section-body">
            <form class="example-form">
              <mat-form-field class="example-full-width">
                <input matInput placeholder="Favorite food" value="Sushi" />
              </mat-form-field>

              <mat-form-field class="example-full-width">
                <textarea matInput placeholder="Leave a comment"></textarea>
              </mat-form-field>
            </form>
            <lorem-ipsum></lorem-ipsum>
          </div>
        </section>

        <section class="section-wrapper" scrollSpyElement id="sectionC">
          <div class="section-title">
            C. Preoperative
          </div>
          <div class="section-body">
            <mat-icon aria-hidden="false" aria-label="Example home icon">home</mat-icon>
            <lorem-ipsum></lorem-ipsum>
            <lorem-ipsum></lorem-ipsum>
            <lorem-ipsum></lorem-ipsum>
          </div>
        </section>

      </div>
      <br>
    </mat-drawer-content>
  </mat-drawer-container>
</div>
