<div fxLayoutAlign="space-between center" style="margin-bottom: 16px;">
  <div>
    <h1 mat-dialog-title style="margin-bottom: 0;">
      {{ productForm.controls['name'].value ? productForm.controls['name'].value : '(new)' }}</h1>
    <h5 style="margin-bottom: 0; font-style: italic; color: gainsboro;">
      {{ productForm.controls['id'].value ? productForm.controls['id'].value : '' }}</h5>
  </div>
  <button mat-icon-button color="warn" aria-label="Close" mat-dialog-close tabindex="-1">
    <mat-icon>close</mat-icon>
  </button>
</div>
<div mat-dialog-content style="min-width: 880px;">
  <form [formGroup]="productForm" fxLayout="column">
    <div>
      <reg-input controlName="name" placeholder="Name" [formGroup]="productForm" type="text" fxFlex
        [controlService]="controlService"></reg-input>
    </div>

    <div>
      <reg-textarea controlName="description" placeholder="Description" [formGroup]="productForm" type="text" fxFlex
        [controlService]="controlService" [height]="'75px'" [require]="false"></reg-textarea>
    </div>

    <div>
      <reg-input controlName="brand" placeholder="Brand" [formGroup]="productForm" type="text" fxFlex
        [controlService]="controlService"></reg-input>

      <reg-select controlName="category" placeholder="Category" [formGroup]="productForm" [choices]="[
        'Stent',
        'Wire',
        'Balloon',
        '# Pre-set #',
        '# Bundle #'
        ]" fxFlex [nullOption]="false" [controlService]="controlService">
      </reg-select>
    </div>

    <fieldset class="fieldset-label" [style.background-color]="isPreset ? 'aliceblue' : 'lavenderblush'"
      *ngIf="enableSubProducts">
      <legend>Sub Products</legend>
      <div formArrayName="subProducts" *ngFor="let fg of productForm.get('subProducts')['controls']; let i = index;">
        <div fxLayoutAlign="center center">

          <button mat-icon-button color="warn" aria-label="Close" (click)="removeSubProduct(i)">
            <mat-icon>close</mat-icon>
          </button>

          <div [formGroup]="fg" fxFlex>
            <reg-select-search controlName="product" placeholder="Product" [formGroup]="fg" [choices]="subProducts[i]"
              fxFlex [nullOption]="false" [group]="true" sortChoice="asc" sortGroup="asc"
              [controlService]="controlService">
            </reg-select-search>

            <reg-input controlName="quantity" placeholder="Quantity" [formGroup]="fg" type="number" fxFlex="15"
              [controlService]="controlService"></reg-input>

            <reg-input controlName="thaiPrice" placeholder="Thai Price" [formGroup]="fg" type="text" fxFlex="15"
              [controlService]="controlService" [readonly]="true"></reg-input>

            <reg-input controlName="interPrice" placeholder="Inter Price" [formGroup]="fg" type="text" fxFlex="15"
              [controlService]="controlService" [readonly]="true"></reg-input>
          </div>
        </div>
      </div>
      <div fxLayoutAlign="end center">
        <button style="margin-left: 10px; margin-right: 10px;" mat-stroked-button color="primary"
          (click)="addSubProducts()" [disabled]="!canAddSubProduct" fxFlex>Add</button>
        <h4 style="margin: 0px 10px 0px 10px">Sum</h4>
        <reg-input controlName="sumThaiPrice" placeholder="Sum Thai Price" [formGroup]="productForm" type="text"
          fxFlex="14.5" [controlService]="controlService" [readonly]="true" [require]="false"></reg-input>
        <reg-input controlName="sumInterPrice" placeholder="Sum Inter Price" [formGroup]="productForm" type="text"
          fxFlex="14.5" [controlService]="controlService" [readonly]="true" [require]="false"></reg-input>
      </div>
    </fieldset>

    <div>
      <reg-input controlName="thaiPrice" placeholder="Thai Price (฿)" [formGroup]="productForm" type="number" fxFlex
        [controlService]="controlService" [readonly]="isPreset"></reg-input>

      <reg-input controlName="interPrice" placeholder="Inter Price (฿)" [formGroup]="productForm" type="number" fxFlex
        [controlService]="controlService" [readonly]="isPreset"></reg-input>

      <reg-select controlName="status" placeholder="Status" [formGroup]="productForm" [choices]="[
        'In stock',
        'Discontinue',
        'Postpone'
        ]" fxFlex [nullOption]="false" [controlService]="controlService">
      </reg-select>
    </div>

    <div>
      <reg-textarea controlName="note" placeholder="Note" [formGroup]="productForm" type="text" fxFlex
        [controlService]="controlService" [height]="'auto'" [require]="false"></reg-textarea>
    </div>

  </form>
</div>
<div mat-dialog-actions align="end">
  <button mat-button (click)="submit()" [disabled]="!productForm.valid">{{ addMode ? 'Create' : 'Update' }}</button>
  <button mat-button mat-dialog-close>Discard</button>
</div>
