<div fxLayoutAlign="space-between center" style="margin-bottom: 16px;">
  <h1 mat-dialog-title style="margin-bottom: 0;">{{ productForm.controls['name'].value }}</h1>
  <button mat-icon-button color="warn" aria-label="Close" mat-dialog-close tabindex="-1">
    <mat-icon>close</mat-icon>
  </button>
</div>
<div mat-dialog-content>
  <form [formGroup]="productForm" fxLayout="column">
    <div>
      <reg-input controlName="name" placeholder="Name" [formGroup]="productForm" type="text" fxFlex
        [controlService]="controlService"></reg-input>
    </div>

    <div>
      <reg-textarea controlName="description" placeholder="Description" [formGroup]="productForm" type="text" fxFlex
        [controlService]="controlService" [height]="'150px'" [require]="false"></reg-textarea>
    </div>

    <div>
      <reg-input controlName="brand" placeholder="Brand" [formGroup]="productForm" type="text" fxFlex
        [controlService]="controlService"></reg-input>

      <reg-select controlName="category" placeholder="Category" [formGroup]="productForm" [choices]="[
        'Stent',
        'Wire',
        'Balloon'
        ]" fxFlex [nullOption]="false" [controlService]="controlService">
      </reg-select>
    </div>

    <div>
      <reg-input controlName="thaiPrice" placeholder="Thai Price (฿)" [formGroup]="productForm" type="number" fxFlex
        [controlService]="controlService"></reg-input>

      <reg-input controlName="interPrice" placeholder="Inter Price (฿)" [formGroup]="productForm" type="number" fxFlex
        [controlService]="controlService"></reg-input>
    </div>

    <div>
      <reg-select controlName="status" placeholder="Status" [formGroup]="productForm" [choices]="[
        'In stock',
        'Discontinue',
        'Postpone'
        ]" fxFlex [nullOption]="false" [controlService]="controlService">
      </reg-select>
    </div>

    <div>
      <reg-textarea controlName="note" placeholder="Note" [formGroup]="productForm" type="text" fxFlex
        [controlService]="controlService" [height]="'75px'" [require]="false"></reg-textarea>
    </div>

  </form>
</div>
<div mat-dialog-actions align="end">
  <button mat-button (click)="submit()" [disabled]="!productForm.valid">{{ addMode ? 'Create' : 'Update' }}</button>
  <button mat-button mat-dialog-close>Discard</button>
</div>
