<!-- <mat-form-field>
  <mat-label>Filter</mat-label>
  <input matInput (keyup)="applyFilter($event)" placeholder="Ex. ium">
</mat-form-field> -->

<mat-form-field style="margin-bottom: 20px;">
  <mat-chip-list #chipList aria-label="Filters" class="filters">
    <mat-chip *ngFor="let filter of filters" selectable="true" removable="true" (removed)="remove(filter)"
      [color]="filter.type.includes('Date') || filter.type.includes('Age') || filter.type.includes('Completion') ? 'warn' : filter.type === 'Tag' ? 'accent' : null">
      {{filter.label}}
      <mat-icon matChipRemove>cancel</mat-icon>
    </mat-chip>
    <input placeholder="Smart Filters" [matChipInputFor]="chipList" [matChipInputSeparatorKeyCodes]="separatorKeysCodes"
      matChipInputAddOnBlur="true" (matChipInputTokenEnd)="add($event)">
    <button mat-button *ngIf="filters.length > 0" matSuffix mat-icon-button aria-label="Clear" (click)="clearFilter()">
      <mat-icon>close</mat-icon>
    </button>
  </mat-chip-list>
  <mat-hint>
    <i>HN, AN, Name, Tag </i>
    <mat-icon style="cursor: help;" (click)="openInfo()">
      info_outline
    </mat-icon>
  </mat-hint>
</mat-form-field>

<ng-container [ngSwitch]="(device$ | async)">

  <ng-container *ngSwitchCase="'HandsetPortrait'">

    <mat-table [dataSource]="dataSource" class="mat-elevation-z8">
      <ng-container matColumnDef="handset">
        <mat-header-cell class="header-center" *matHeaderCellDef>Patient</mat-header-cell>
        <mat-cell class="cell-handset" *matCellDef="let element">
          <div class="handset-patient">
            <div>
              <span fxFlex="20%">[{{ element.hospitalId }}]</span>
              <span fxFlex="60%">{{ element.firstName }} {{ element.lastName }}</span>
              <span fxFlex="20%" style="text-align: end;">Age: {{ element.age }}</span>
            </div>
            <div>
              <span fxFlex="50%">HN: {{ element.hn }}</span>
              <span fxFlex="50%" style="text-align: end;">AN: {{ element.an }}</span>
            </div>
            <div>
              <span fxFlex="60%" style="cursor: pointer;"
                (click)="procedureDateClicked(element.procedureDateTime)">Procedure:
                {{ element.procedureDateTime | isoDate }}</span>
              <span fxFlex="40%" style="text-align: end;">Completion: {{ element.completion }}%</span>
            </div>
            <mat-chip-list class="tags">
              <mat-chip *ngFor="let tag of element.tags; let i = index"
                [color]="i % 3 === 0 ? 'warn' : i % 3 === 1 ? 'accent' : 'primary'" selected (click)="tagClicked(tag)">
                {{ tag }}
              </mat-chip>
            </mat-chip-list>
          </div>
        </mat-cell>
      </ng-container>

      <mat-header-row *matHeaderRowDef="['handset']"></mat-header-row>
      <mat-row class="table-row" *matRowDef="let row; columns: ['handset'];"></mat-row>
    </mat-table>

  </ng-container>

  <ng-container *ngSwitchDefault>

    <mat-table [dataSource]="dataSource" class="mat-elevation-z8">
      <ng-container matColumnDef="hospital">
        <mat-header-cell class="header-center" style="flex: 5%" *matHeaderCellDef> Hospital </mat-header-cell>
        <mat-cell class="cell-center" style="flex: 5%" *matCellDef="let element">{{ element.hospitalId }}</mat-cell>
      </ng-container>

      <ng-container matColumnDef="hn">
        <mat-header-cell class="header-center" style="flex: 10%" *matHeaderCellDef> HN </mat-header-cell>
        <mat-cell class="cell-center" style="flex: 10%" *matCellDef="let element">{{ element.hn }}</mat-cell>
      </ng-container>

      <ng-container matColumnDef="name">
        <mat-header-cell class="header-center" style="flex: 20%" *matHeaderCellDef> Name </mat-header-cell>
        <mat-cell style="flex: 20%" *matCellDef=" let element">
          {{ element.firstName + ' ' + element.lastName }}
        </mat-cell>
      </ng-container>

      <ng-container matColumnDef="age">
        <mat-header-cell class="header-center" style="flex: 5%" *matHeaderCellDef> Age </mat-header-cell>
        <mat-cell class="cell-center" style="flex: 5%" *matCellDef="let element">{{ element.age }}</mat-cell>
      </ng-container>

      <ng-container matColumnDef="procedure">
        <mat-header-cell class="header-center" style="flex: 10%" *matHeaderCellDef> Procedure </mat-header-cell>
        <mat-cell class="cell-center" style="flex: 10%" *matCellDef="let element">
          <div style="cursor: pointer;" (click)="procedureDateClicked(element.procedureDateTime)">
            {{ element.procedureDateTime | isoDate }}
          </div>
        </mat-cell>
      </ng-container>

      <ng-container matColumnDef="tags">
        <mat-header-cell class="header-center" style="flex: 40%" *matHeaderCellDef> Tags </mat-header-cell>
        <mat-cell style="flex: 40%" *matCellDef="let element">
          <mat-chip-list class="tags">
            <mat-chip *ngFor="let tag of element.tags; let i = index"
              [color]="i % 3 === 0 ? 'warn' : i % 3 === 1 ? 'accent' : 'primary'" selected (click)="tagClicked(tag)">
              {{ tag }}
            </mat-chip>
          </mat-chip-list>
        </mat-cell>
      </ng-container>

      <ng-container matColumnDef="completion">
        <mat-header-cell class="header-center" style="flex: 10%" *matHeaderCellDef>Completion</mat-header-cell>
        <mat-cell class="cell-center" style="flex: 10%" *matCellDef="let element">{{ element.completion }}%</mat-cell>
      </ng-container>

      <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
      <mat-row class="table-row" *matRowDef="let row; columns: displayedColumns;"></mat-row>
    </mat-table>

  </ng-container>

</ng-container>


<br>
<br>
